# Ignore data
data/raw/source_data/drug-event-0001-of-0030.json
data/raw/source_data/drug-event-0002-of-0030.json
data/raw/source_data/drug-event-0003-of-0030.json
data/processed/
data/sample

# Ignore irrelevant files
scratch/

notebooks/SQLite_redesigned_verification
sql/scratch
repo_structure.py
notebooks/db_converted_verification

# Ignore SQLite and other DBs
*.db
*.sqlite
*.log

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Python junk
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.venv/
env/

# VSCode config
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Ignore Python packaging artifacts
# src/maciej_bep.egg-info
*.egg-info/
maciej_bep.egg-info/
dist/
build/
