# Ignore data
data/raw/
data/processed/
data/sample

# Ignore irrelevant files
scratch/

notebooks/SQLite_redesigned_verification

# Ignore SQLite and other DBs
*.db
*.sqlite
*.log

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Python junk
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.venv/
env/

# VSCode config
.vscode/
*.code-workspace

# OS junk
.DS_Store
Thumbs.db

# Ignore Python packaging artifacts
*.egg-info/
maciej_bep.egg-info/
dist/
build/
