# Ignore raw and processed data
data/raw/
data/processed/

# Ignore irrelevant files
scratch/

# Ignore SQLite and other DBs
*.db

# Ignore notebook checkpoints
.ipynb_checkpoints/

# Python junk
__pycache__/
*.pyc
*.pyo

# Environment files
.env
.venv/
env/

# OS junk
.DS_Store
Thumbs.db
